@font-face {
    font-family: 'Gagalin-Regular';
    src: url('fonts/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Gagalin-Regular';
    letter-spacing: 1px; /* Increase letter spacing for all elements */
}

body {
    font-family: 'Gagalin-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #99E2D9;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none; /* Allow clicks to pass through */
    overflow: hidden; /* Ensure the rain stays within the body */
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.rain {
    position: absolute;
    top: 0;
    font-size: 20px;
    font-family: 'Gagalin-Regular', Arial, sans-serif;
    color: #FAB60F;
    text-shadow: 3px 3px 0px #3C2117;
    animation: rain 3s linear infinite;
    opacity: 0;
}

.rain:nth-of-type(2n) {
    color: #3C2117;
    text-shadow: 3px 3px 0px #FAB60F;
}

.rain:nth-of-type(3n) {
    color: #A047D2;
    text-shadow: 3px 3px 0px #3C2117;
}

.rain:nth-of-type(4n) {
    color: #3C2117;
    text-shadow: 3px 3px 0px #A047D2;
}


.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background: #99E2D9;
    overflow: hidden;
    margin-top: 20px; /* Add some spacing between header and container */
    margin-bottom: 20px;
    z-index: 10; /* Ensure content is above the rain */
}

.left-section {
    flex: 1;
    padding: 20px;
    margin-right : 5px;
    background-color: #FAB60F    ;
    border: 4px solid #AF6D4B;
    border-radius: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.right-section {
    flex: 1;
    padding: 20px;
    margin-left : 5px;
    background-color: #FAB60F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #AF6D4B;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    margin-top: 0;
}

.category div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category img {
    background-color: #99E2D9;
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #AF6D4B;
}

.category img:hover {
    border: 2px solid #000;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-container canvas {
    background-color: #99E2D9;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: 3px solid #AF6D4B;  
    border-radius: 10px;
    margin-bottom: 20px;

}

#download-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #99E2D9;
    color: black;
    border-radius: 5px;
    border: 3px solid #AF6D4B; 
    transition: background-color 0.3s;
    font-family: 'Gagalin-Regular';
}

#download-btn:hover {
    background-color: #70a49e;
}

#reset-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #99E2D9;
    color: black;
    border-radius: 5px;
    border: 3px solid #AF6D4B; 
    transition: background-color 0.3s;
    font-family: 'Gagalin-Regular';
}

#reset-btn:hover {
    background-color: #70a49e;
}